extends layout

block content
  h1 #{title}: #{book.title}

  if book_instances.length

    p #[strong this book has instances, you can't delete it]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      dl
      each bookInstance in book_instances
        dt.my-2
          a(href=bookInstance.url) #{bookInstance._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete